html {

}

body {

}

img {
    float: right;
    width: 50%;
    padding:25px;
}

a:link{

}

a:visited{

}

a:hover{

}

a:active{

}
header{

}

main{

}

nav{

}

aside{
    margin: 25px;
}

aside p{
    border-style: solid;
}

footer{
    
}