html {
    font-family: Georgia, serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

img {
    float: right;
    width: 50%;
    padding:25px;
}

a:link{
    color: darkgray;
    background-color: white;
    text-decoration: none;
}

a:visited{
    color: seagreen;
}

a:hover{
    text-decoration: underline;
}

header{
    width: 80%;
    margin-left: 10%;
}

aside{
    margin: 25px;
}

aside p{
    border-style: solid;
}

footer{
    background-color: gray;
}